@{
    ViewData["Title"] = "Create or Edit";
}

@model StoreInventory.Models.ItemForViewing

<div class="text-center">
    <h1> Create a new item</h1>
</div>
<form asp-action="CreateEditExpenseForm" class="form">
    <input hidden class="form-control" type="number" asp-for="Id" />
    <label class="mt-4"> Name</label>
    <input class="form-control" type="text" asp-for="Name" />
    <label class="mt-4"> Item type</label>
    <div class="d-flex justify-content-start btn-group" role="group">
        <input type="radio" class="btn-check " asp-for="Type" value="Ingredient" autocomplete="off" id="Ingredient"
            checked />
        <label for="Ingredient" class="btn btn-outline-primary"> Ingredient</label>
        <input type="radio" asp-for="Type" class="btn-check" value="Pastry" autocomplete="off" id="Pastry" />
        <label for="Pastry" class="btn btn-outline-primary"> Pastry</label>
        <input type="radio" asp-for="Type" class="btn-check" value="Beverage" autocomplete="off" id="Beverage" />
        <label for="Beverage" class="btn btn-outline-primary"> Beverage</label>
    </div>

    <label class="mt-4"> Description </label>
    <textarea class="form-control" asp-for="Description"> </textarea>
    <label class="mt-4"> Price</label>
    <input class="form-control" type="number" asp-for="Price" step="0.01" />
    <label class="mt-4"> Amount</label>
    <input class="form-control" type="number" asp-for="Amount" step="1" />

    <button class="text-center btn btn-primary mt-4" type="submit"> Save</button>


</form>
